#header {
    position: fixed;
    top: 0px;
    right:15px;
    text-align:right;
}

.right {
    position: absolute;
    left: 200px;
    top: 0px;
}

td {
    padding-right: 50px;
    padding-top: 20px;
}

img {
    height: 456px;

}